{% extends 'next_train/base.html'  %}

<!-- Next Train  -->


{% block header %}
    <h1>DC Next Train</h1><small><a href="http://www.wmata.com/rail/maps/map.cfm" target="_blank">map</a></small>
{% endblock header %}

{% block content  %}
 <div id="station_form">
  <form action="{% url 'next_train:index' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
 </div>
 <div id="welcome">
     {{ message }}
 </div>
 <div id="nt_box">
    {% for train in nextTrain %}
        <p id="next_train">
        {{ train }}
        </p>
    {% empty %}
        ( Ctrl/Cmd+click to select multiple stations )
    {% endfor %}
</div>

{% endblock content  %}
